version: "3"
services:
  notification-service:
    #image: friedow/node-notification-service:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-service
    restart: always
    ports:
      - 3031:3031
    links:
      - mongo
      - redis
    environment:
      - MONGO_HOST=mongo
      - REDIS_HOST=redis
      #- NOTIFICATION_PORT=3031
      # - NODE_ENV=production
    volumes:
      # - ./logs:/usr/src/app/logs
      - ./:/usr/src/app
    depends_on:
      - mongo
      - redis
    command: npm run debug

  mongo:
    image: mongo:3
    restart: always

  redis:
    image: redis:5.0.3
    restart: always

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis

  mail:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
