apiVersion: v1
kind: ConfigMap
metadata:
  name: notification-configmap
  namespace: {{ NAMESPACE }}
  labels:
    app: notification
data:  
  # general
  NODE_ENV: "production"
  TZ: "Europe/Berlin"
  # MONGO_HOST: "in notification secret"
  REDIS_HOST: "{{ NOTIFICATION_REDIS_HOST }}"
