apiVersion: v1
kind: Secret
metadata:
  name: notification-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: notification
type: Opaque
data:
  # echo -n "VALUE" | base64
  MONGO_HOST: "{{ NOTIFICATION_MONGO_HOST| b64encode }}"
