apiVersion: v1
kind: Service
metadata:
  name: app-1-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: app-1
spec:
  type: ClusterIP
  ports:
    - port: 3030
      targetPort: 3030
      protocol: TCP
      name: app-1-http
  selector:
    app: app-1
