<!DOCTYPE html>
<html ng-app="sendApp">
<head>
    <meta charset="UTF-8">
    <title>Send Interface</title>
  <link rel="stylesheet" type="text/css" href="css/Style.css">
</head>
<body ng-controller="sendCtrl">

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="javascript/send.js"> </script>

<h1>Send a message to clients</h1>
<form id="send-request">
  <label for="sender">Sender:
    <input id="sender" name="sender" ng-model="sender">
  </label>
  <br>
  <label for="target">Target:
    <input id="target" name="target">
  </label>
  <br>
  <label for="title">Title:
    <input id="title" name="title" ng-model="data.title">
  </label>
  <br> <br>
  <textarea maxlength="160" rows="4" cols="50" ng-model="data.body">This is a generic sample message so we don't have to type one for every test.
  </textarea>
  <br>
  <button type="button" name="Submit" ng-click="sendRequest()">Send message</button>
</form>

<div ng-if="error">
{{response}}</div>
<div ng-else>
  <!-- {{response.data}} -->

  <div ng-hide="hide">
    <table>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Title</td>
        <td>{{response.data.title}}</td>
      </tr>
      <tr>
        <td>Body</td>
        <td>{{response.data.body}}</td>
      </tr>
      <tr>
        <td>id</td>
        <td>{{response.data._id}}</td>
      </tr>
      <tr>
        <td>Updated At</td>
        <td>{{response.data.updatedAt}}</td>
      </tr>
      <tr>
        <td>Created At</td>
        <td>{{response.data.createdAt}}</td>
      </tr>
      <tr>
        <td>user Ids</td>
        <td>{{response.data.userIds}}</td>
      </tr>
    </table>
    <br>
    <button type="button" name="Submit" ng-click="researchID()">Research ID</button> <br>

    {{idResponse}} <br>
    {{idResponse.status}}
  </div>
</div>


</body>
</html>
